<?xml version="1.0"?>
<launch>
  <!-- Gazebo options -->
  <arg name="gazebo_gui" default="true" doc="Start Gazebo GUI"/>
  <arg name="paused" default="false" doc="Start Gazebo paused"/>
  <arg name="world_name" default="worlds/empty.world" doc="Gazebo world file"/>
  <arg name="world_pose" default="-x 0 -y 0 -z 0 -R 0 -P 0 -Y 0" doc="Pose to spawn the robot at"/>
  <arg name="initial_joint_positions" default=" -J index_finger_join2 1.4778 -J index_finger_joint1 0 -J index_finger_joint3 0.948 -J index_finger_joint4 0.9015 -J little_finger_joint1 0.1069 -J little_finger_joint2 -0.2228 -J little_finger_joint3 1.3383 -J little_finger_joint4 0.6227 -J little_finger_joint5 1.106 -J middle_finger_joint1 0.1508 -J middle_finger_joint2 1.3881 -J middle_finger_joint3 1.2787 -J middle_finger_joint4 0.5391 -J ring_finger_joint1 -0.349 -J ring_finger_joint2 1.3662 -J ring_finger_joint3 0.5729 -J ring_finger_joint4 1.2361 -J thumb_joint1 0 -J thumb_joint2 1.2217 -J thumb_joint3 0.2094 -J thumb_joint4 0.0537 -J thumb_joint5 1.0595" doc="Initial joint configuration of the robot"/>

  <!-- Start Gazebo paused to allow the controllers to pickup the initial pose -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" pass_all_args="true">
    <arg name="paused" value="true"/>
  </include>

  <!-- Set the robot urdf on the parameter server -->
  <param name="robot_description" textfile="$(find shadow_hand)/src/shadow_hand.urdf" />

  <!-- Unpause the simulation after loading the robot model -->
  <arg name="unpause" value="$(eval '' if arg('paused') else '-unpause')" />

  <!-- Spawn the robot in Gazebo -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot $(arg unpause) $(arg world_pose) $(arg initial_joint_positions)"
    respawn="false" output="screen" />

  <!-- Load the controller parameters onto the parameter server -->
  <rosparam file="$(find move_shadow_hand)/config/gazebo_controllers.yaml" />
  <include file="$(dirname)/ros_controllers.launch"/>

  <!-- Spawn the Gazebo ROS controllers -->
  <node name="gazebo_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="joint_state_controller" />

  <!-- Given the published joint states, publish tf for the robot links -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />
</launch>
